@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #3838ff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
    text-shadow: 3px 3px 0px #00000088;
    padding: 10px;
}